

#numSelector {
  position: absolute;
  width: 50%;
  display: none;
  background-color: $primary-color;
  border-radius: 20px;
  cursor: pointer;
  z-index: 500;
  text-align: center;
  border: 2px solid $line-color;

  @media (max-width: $break-small) {
    top: 150px;
  }

  @media (min-width: $break-small + 1) {
    top: 320px;
  }

  .pad {
    line-height: 40px;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
  }

  .padNumber {
    @extend .pad;
    width: 31%;

    &:hover {
      color: $line-color;
    }

    >div {
      @media (max-width: $break-small) {
        margin: 10px;
      }
      margin: 10px 25px;
      border-bottom: 2px solid $line-color;
    }
  }

  .padCancel {
    @extend .pad;
    width: 100%;

    &:hover {
      color: red;
    }

    >div {
      margin: 10px;
    }
  }
}
