#numSelector {
  position: absolute;
  width: 50%;
  background-color: #689fce;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 500;
  text-align: center;

  .pad {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px;
    line-height: 40px;
    cursor: pointer;
    display: inline-block;
  }

  .padNumber {
    @extend .pad;
    width: 32%;

    &:hover {
      color: grey
    }
  }

  .padCancel {
    @extend .pad;
    width: 100%;

    &:hover {
      color: pink
    }
  }
}
